@charset "utf-8";
*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0 10px;
}
body{
    color: #585858;
    font-family: "微软雅黑";
    font-size: 14px;
}
em{
    font-style: normal;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul, li{
	list-style: none;
}

.index_top{
    width: 100%;
    height: 80px;
    padding: 10px;
    background: #ffe109;
}
.index_top img{
    height: 60px;
}

.index_slideBox{
	position: relative;
	height: auto;
    overflow: hidden;
     width: 100%;
}
.index_slideBox .bd{
    width: 100%;
}
.index_slideBox ul {
    width: 100% !important;
}
.slideBox ul li{
    width: 100%;
	height: auto;
    overflow: hidden;
}
.index_slideBox img{
	width: 100%;
}
.index_slideBox .hd{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.index_slideBox .hd li{
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.6);
	display: block;
	display: inline-block;
	border-radius: 50%;
}
.index_slideBox .hd li.on{
	background: #11A9EC;
}


/*幻灯片下面导航*/
.categoryList {
	padding-top: 10px;
	overflow: hidden;
    border-bottom: 1px #f9f9f9 solid;
}
.categoryList .itemTop {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}
.categoryList .categoryImg {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.categoryList .categoryImg img {
    width: 100%;
    height: auto;
}
/**/
.indexBox {
    border-top: 1px #e4e4e4 solid;
    margin-top: 10px;
}
.newIndexBox .newIndexBoxTitle {
    height: 40px;
    line-height: 1;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px #f7f7f7 solid;
    position: relative;
}
.newIndexBox .newIndexBoxTitle .bg {
    height: 100%;
    width: 3px;
    display: inline-block;
    vertical-align: -5px;
    margin-right: 7px;
    border-radius: 6px;
}
.newIndexBox .newIndexBoxTitle .bg.style1 {
    background-color: #ffbc00;
}
.itemList {
    min-height: 180px;
    overflow: hidden;
}
.itemList .item {
    width: 33.33%;
    position: relative;
}
.itemList .item img {
    width: 100%;
}
.displayBox {
    display: -webkit-box;
    display: box;
}

.bournBox .bournBoxTitle {
    height: 50px;
    line-height: 50px;
    margin: 0 40px;
    border-bottom: 1px #ababab solid;
    position: relative;
    top: -24px;
}
.newIndexBoxTitleBg{
	background-color: #f6f6f6;
}
.bournBox .bournBoxTitle span {
    display: block;
    width: 110px;
    height: 44px;
    background: url(../images/icon-item1.png) no-repeat 13px 14px;
    background-color: #f6f6f6;
    background-size: 20px;
    padding-left: 38px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.slideTabBox{
    overflow: hidden;
}
.bournTopList .bournList {
	padding: 7px 6px;
	border-bottom: 1px solid #F2F2F2;
}
.bournTopList .bournList li {
    font-size: 16px;
    color: #333;
    padding: 0 11px;
    height: 32px;
    line-height: 32px;
    border-radius: 15px;
    width: 33%;
	text-align: center;
	cursor: pointer;
}
.bournTopList .bournList li.hover,.bournTopList .bournList li.on {
    background-color: #ffc31a;
    color: #fff;
}
.bournChildList {
	margin: 5px 10px;
	overflow: hidden;
}
.bournChildList li {
    float: left;
    padding: 3px 0;
    border-radius: 3px;
    border: 1px transparent solid;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    width: 20%;
}

.bournData .bournImg {
    position: relative;
    height: auto;
    overflow: hidden;
}
.bournData .bournImg img{
	width: 100%;
}
.bournData .bournImg .bournMsgTop {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 100;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background: url(../images/icon-item2.png) no-repeat 12px 4px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    background-size: 12px;
    padding: 0 10px;
    padding-left: 30px;
    border-radius: 13px;
}
.bournData .bournImg .bournMsgBottm {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 100;
    width: 73px;
    height: 46px;
    text-align: center;
}
.bournData .bournImg .bournMsgBottm .top {
    height: 28px;
    line-height: 28px;
    background-color: #ffc31a;
    color: #fff;
}
.bournData .bournImg .bournMsgBottm .bottom {
    height: 18px;
    line-height: 18px;
    background-color: #fff;
    color: #ffc31a;
}
.bournData .bournText {
    position: relative;
    padding: 10px 15px;
}
.bournData .bournText p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bournData .bournText .bournTitle {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bournData .bournText .status {
    color: #333;
    font-size: 12px;
    margin-right: 5px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    background-color: #fff;
}
.bournData .bournText .status.style1 {
    background-color: #f68b6e;
}
.bournData .bournText .bournDes {
    color: #ababab;
    font-size: 12px;
}
/*首页底部*/
.zhanwei{
	width: 100%;
	height: 55px;
}
.jz_conv_8888_bottom-box {
    position: fixed;
    width: 100%;
    z-index: 99990;
    height: 55px;
    left: 0;
    bottom: 0;
}
.jz_conv_8888_innerWrapper {
    width: 100%;
    height: 55px;
    border-top: 1px solid #015d7c;
    background: #0181cc;
}
.jz_conv_8888_bottom-item {
    width: 50%;
    float: left;
    text-align: center;
}
.jz_conv_8888_bottom-item-chat {
    border-right: 1px solid #015d7c;
    height: 41px;
    margin-top: 7px;
}
.jz_conv_8888_bottom-item-icon img {
    width: 25px;
    height: 25px;
}
.jz_conv_8888_bottom-item-text {
    color: #fff;
}

.public_top{
	position: relative;
	height: 50px;
    background-size: auto 50px;
    border-bottom: #d4d4d4 1px solid;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #f4f4f4;
}
.h-city {
	position: absolute;
    left: 0;
    top: 0;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 24px;
    color: #3a3a3a;
    font-family: "宋体";
    font-weight: bold;
}
.headerCenter {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.m2_list_1 {
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.m2_list_1 li {
    width: 25%;
    height: 25px;
    line-height: 25px;
    border-right: 1px #ddd solid;
    border-top: 1px #ddd solid;
    text-align: center;
    font-size: 0.14rem;
    color: #888;
    position: relative;
    background-color: #fff;
}








